# Importing Libraries and dataset

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import os
import folium
import json

In [2]:
path = r'C:\Users\ranji\Boat Analysis'
df = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', 'boats_clean.csv'), index_col = 0)

In [3]:
df.head()

,Boat Type,Manufacturer,Type,Year Built,Price (EUR),Length,Width,Material,Number of views last 7 days,Location
0,Motor Yacht,Rigiflex power boats,new boat from stock,2017,3337,4.00,1.90,NaN,226,Switzerland
1,Center console boat,Terhi power boats,new boat from stock,2020,3490,4.00,1.50,Thermoplastic,75,Germany
3,Sport Boat,Pioner power boats,new boat from stock,2020,25900,3.00,1.00,NaN,64,Denmark
4,Fishing Boat,Linder power boats,new boat from stock,2019,3399,3.55,1.46,Aluminium,58,Germany
6,Catamaran,NaN,"Used boat,Unleaded",1999,3600,6.20,2.38,Aluminium,474,Switzerland

In [4]:
#Importing Json for countries
country_file = r'C:\Users\ranji\Boat Analysis\Project Management\countries.geojson'

# Cleaning

In [5]:
# Cleaning on Excel
# Deleted all unknown countries
# Corrected spelling of countries
# Changed cities to country

In [6]:
#Filtering outliers
df_filter = df.loc[(df['Number of views last 7 days'] >100) & (df['Number of views last 7 days']<1000)
                   & (df['Price (EUR)'] > 10000) & (df['Price (EUR)'] < 100000) & (df['Length'] > 5) & (df['Length'] < 50) 
                   & (df['Width'] > 1) & (df['Width'] < 10)]
df_filter

,Boat Type,Manufacturer,Type,Year Built,Price (EUR),Length,Width,Material,Number of views last 7 days,Location
106,Sport Boat,Draco power boats,"Used boat,Unleaded",1984,10400,6.00,2.30,GRP,418,Switzerland
116,Sport Boat,Supra power boats,"Used boat,Unleaded",1991,11000,6.18,2.42,GRP,256,Switzerland
117,Pontoon Boat,MÃ¤ndli power boats,Used boat,2006,11000,7.00,1.90,Wood,230,Switzerland
118,Fishing Boat,MÃ¤ndli power boats,"Used boat,Unleaded",2006,11000,6.00,1.60,GRP,182,Switzerland
132,Sport Boat,Bayliner power boats,Used boat,1988,11000,6.30,2.34,GRP,284,Italy
...,...,...,...,...,...,...,...,...,...,...
9707,Cabin Boat,NaN,Used boat,1979,10500,9.00,2.85,Steel,205,Netherlands
9708,Fishing Boat,J2J Service power boats,"Display Model,Unleaded",2020,11350,5.25,2.00,GRP,145,Switzerland
9713,Sport Boat,Mingolla power boats,Used boat,2019,10400,5.60,2.35,NaN,230,Italy
9715,Deck Boat,BLULINE (IT) power boats,"new boat from stock,Unleaded",2020,10300,5.50,2.29,GRP,208,Italy
9716,Fishing Boat,AS Marine power boats,Used boat,2020,10200,5.70,2.10,NaN,193,Italy

# Plotting choropleth

In [7]:
#DF with only country and number of views
df_chloro = df_filter[['Location', 'Number of views last 7 days']]
df_chloro

         Location  Number of views last 7 days
106   Switzerland                          418
116   Switzerland                          256
117   Switzerland                          230
118   Switzerland                          182
132         Italy                          284
...           ...                          ...
9707  Netherlands                          205
9708  Switzerland                          145
9713        Italy                          230
9715        Italy                          208
9716        Italy                          193

[2661 rows x 2 columns]

In [10]:
df_sum = df_chloro.groupby(['Location'])['Number of views last 7 days'].sum()
df_sum

Location
Austria                       5696
Belgium                       7173
Brandenburg                    237
Croatia                      32760
Cyprus                         124
Czech                         1535
Denmark                        281
Estonia                        302
Finland                       1578
France                       34246
Germany                     136507
Greece                         343
Hungary                        570
Ibiza                          296
Italy                        85039
Lithuania                      103
Malta                          745
Monaco                         190
Montenegro                     113
Netherlands                  49573
Poland                        3649
Portugal                      4966
Romania                        225
Rovinij                        172
Serbia                         442
Slovak                         113
Slovenia                      1812
Spain                        22752
Sweden                         221
Switzerland                 189691
Thailand                       599
Turkey                         334
United States of America      3859
Name: Number of views last 7 days, dtype: int64

In [ ]:
map = folium.Map(location = [100, 0], zoom_start = 1.5)

folium.Choropleth(
    geo_data = country_file, 
    data = df_sum,
    columns = ['Location', 'Number of views last 7 days'],
    key_on = 'feature.properties.ADMIN',
    fill_color = 'YlOrBr', fill_opacity=0.6, line_opacity=0.1,
    legend_name = "views").add_to(map)
folium.LayerControl().add_to(map)

map

In [ ]:
map.save("index.html")

In [ ]:
#Exporting new file with filtered values
df_filter.to_csv(os.path.join(path, 'Data','Prepared Data', 'boats_filtered.csv'))

In [ ]:
# Map Analysis
#1) Germany and Switzerland have majority of the customers viewing boats. 
#2) This map does not provide any further details with regard to my project questions